spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: dev.DB
    url: jdbc:postgresql://192.168.19.12:5432/csc?stringtype=unspecified

project:
  root-directory: xxx
  server-module: xxx
  common-module: xxx
  table-prefix: xxx

tables:
  - logic-name: xxx
    entity-name: xxx
    templates-exclude: controller,service,create-entity-request

templates:
  service:
    template: "${beanClass}.ftl"
    module: 自定义Module
    packet: 自定义Packet
    packets-to-import:
      - 不用导入包1
      - 不用导入包2

packages:
  service: com.sdstc.csc.server.service
  mapper: com.sdstc.csc.server.mapper
  entity: com.sdstc.csc.server.entity
  request: com.sdstc.csc.common.request
  response: com.sdstc.csc.common.response
  enums: com.sdstc.csc.common.enums
  controller: com.sdstc.csc.server.controller

