tools:
  template-directory: 'classpath:templates'
  enum-comment-pattern: '^([A-Za-z\u4e00-\u9fa5 ]{1,})（(([A-Za-z0-9-]+：[\u4e00-\u9fa5A-Za-z0-9-]{1,}，?)+)）$'
  number-pattern: '^[0-9]*$'

table:
  prefix: t_
  default-primary-key: id

template-configs:
  service:
    template: "${beanClass}.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  controller:
    template: "${beanClass}.ftl"
    module: ${project.modules.server}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}
