tools:
  template-directory: 'classpath:templates'

table:
  prefix: t_
  default-primary-key: id

templates:

  tips:
    template: "tips.ftl"
    output-directory: "C:\\Users\\wujj\\Desktop\\TemplateTest"
    output-filename: "tips.md"
    java-format: false

  service:
    template: "Service.ftl"
    output-filename: '${tableClass}Service.java'
    # output-directory: "C:\\Users\\wujj\\Desktop\\TemplateTest"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - "${packages.request}.*"
      - "${packages.response}.*"
      - "${packages.response-data}.*"
      - "${packages.service}.*"
      - "${packages.entity}.*"


#  controller:
#    template: "${tableClass}Controller.ftl"
#    output-filename: "${tableClass}Controller.java"
#    module: ${project.server-module}
#    packet: ${packages.controller}
#    packets-to-import:
#      - "${packages.request}.*"
#      - "${packages.response}.*"
#      - "${packages.service}.*"
#
#  entity:
#    template: "${tableClass}.ftl"
#    module: ${project.server-module}
#    packet: ${packages.entity}
#
#  enum:
#    template: "${enumClass}.ftl"
#    module: ${project.common-module}
#    packet: ${packages.enums}



# 废弃
template-configs:
  bean-class-controller:
    template: "Controller.ftl"
    module: ${project.server-module}
    packet: ${packages.controller}
    packets-to-import:
      - "${packages.request}.*"
      - "${packages.response}.*"
      - "${packages.service}.*"

  bean-class:
    template: "${beanClass}.ftl"
    module: ${project.server-module}
    packet: ${packages.entity}
    packets-to-import:
      - "com.sdstc.core.base.model.BaseModel"

  enum:
    template: "${enumClass}.ftl"
    module: ${project.common-module}
    packet: ${packages.enums}

  bean-class-mapper:
    template: "${beanClass}Mapper.ftl"
    module: ${project.server-module}
    packet: ${packages.mapper}
    packets-to-import:
      - "${packages.entity}.*"

  bean-class-ids-request:
    template: "${beanClass}IdsRequest.ftl"
    module: ${project.common-module}
    packet: ${packages.request}

  create-bean-class-request:
    template: "Create${beanClass}Request.ftl"
    module: ${project.common-module}
    packet: ${packages.request}
    packets-to-import:
      - "${packages.enums}.*"

  page-bean-class-request:
    template: "Page${beanClass}Request.ftl"
    module: ${project.common-module}
    packet: ${packages.request}

  update-bean-class-request:
    template: "Update${beanClass}Request.ftl"
    module: ${project.common-module}
    packet: ${packages.request}
    packets-to-import:
      - "${packages.enums}.*"

  bean-class-data:
    template: "${beanClass}Data.ftl"
    module: ${project.common-module}
    packet: ${packages.response}
    packets-to-import:
      - "${packages.enums}.*"

  bean-class-service:
    template: "${beanClass}Service.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - "${packages.entity}.*"
      - "${packages.request}.*"
      - "${packages.response}.*"
      - "${packages.mapper}.*"
      - "${packages.enums}.*"
      - "com.sdstc.core.utils.PageUtils"
      - "com.sdstc.core.exception.BusinessException"