tools:
  template-directory: 'classpath:templates'
  enum-comment-pattern: '^([A-Za-z\u4e00-\u9fa5 ]{1,})（(([A-Za-z0-9-]+：[\u4e00-\u9fa5A-Za-z0-9-]{1,}，?)+)）$'
  number-pattern: '^[0-9]*$'

table:
  prefix: t_
  default-primary-key: id

template-configs:
  bean-class-controller:
    template: "${beanClass}Controller.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  bean-class:
    template: "${beanClass}.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  enum:
    template: "${enumClass}.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  bean-class-mapper:
    template: "${beanClass}Mapper.ftl"
    module: ${project.server-module}
    packet: ${packages.mapper}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  bean-class-ids-request:
    template: "${beanClass}IdsRequest.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  create-bean-class-request:
    template: "Create${beanClass}Request.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  page-bean-class-request:
    template: "Page${beanClass}Request.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  update-bean-class-request:
    template: "Update${beanClass}.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  bean-class-data:
    template: "${beanClass}Data.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}

  bean-class-service:
    template: "${beanClass}Service.ftl"
    module: ${project.server-module}
    packet: ${packages.service}
    packets-to-import:
      - ${packages.request}
      - ${packages.response}